/* Colores institucionales de la UAEMex */
.uaemex-verde {
    background-color: #006532; /* Verde UAEMex */
    color: #ffffff; /* Blanco */
    hover: #006532;
}

.uaemex-oro {
    color: #ffc107; /* Oro UAEMex */
}
body{
    background-color: #e4e2e2;
}
.uaemex-button {
            background-color: #006532;
            color: #ffc107;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
        }